/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.btn-link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}

.sortable {
  cursor: pointer;
}
.st-sort-ascent:after {
  content: '\25B2';
}
.st-sort-descent:after {
  content: '\25BC';
}

li { cursor: pointer; cursor: hand; }

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  line-height: 46px;
  font-size: 43px;
  margin: 0 0 23px 0;
}
p {
  font-family: 'Alice', serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  margin: 0 0 23px 0;
}

